MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/lecture_notes?retryWrites=true&w=majority
JWT_SECRET_KEY=replace_with_strong_secret
IBM_STT_APIKEY=
IBM_STT_URL=
IBM_COS_APIKEY=
IBM_COS_RESOURCE_INSTANCE_ID=
IBM_COS_ENDPOINT=
IBM_COS_BUCKET=
IBM_GRANITE_APIKEY=
IBM_GRANITE_URL=
FLASK_ENV=development
